.weather--output {
 padding: 0!important;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: left;

 .main--weather--info {
  text-align: center;

  .weather--station {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
  }

  p.weather {
   font-weight: bolder;
   font-size: 3rem;
   text-transform: uppercase;
   line-height: 0;
  }

  .weather--icon {
   line-height: 0;
  }

  .weather--description,
  .weather--station {
   line-height: 0;
  }

  .weather--description {
   p {
    text-transform: capitalize;
   }
  }

 }

 .weather--portion--info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  background: #5db4ee;

  .weather--characters {

   p {
    color: white;
    font-size: 1rem;
   }

  }

  .weather--desc {
   p {
    color: white;
   }
  }

 }

}